<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div  class="picsum-img-wrapper">
			<img [src]="images[0]"  style="width: 1920px; height:781px;" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
            <p>Welcome to </p>
			<h3>TALL TOILET BOLT CAP</h3>
			<p>save time and something</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div style="width: 1920px;" class="picsum-img-wrapper">
			<img [src]="images[1]" style="width: 1920px; height:781px;" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<p>Welcome to </p>
			<h3>TALL TOILET BOLT CAP</h3>
			<p>save time and something</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" style="width: 1920px; height:781px;" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<p>Welcome to </p>
			<h3>TALL TOILET BOLT CAP</h3>
			<p>save time and something</p>
		</div>
	</ng-template>
</ngb-carousel>
