<div id="maindiv">
    <div  style="margin-top: 30px; margin-left: 100px; padding-top: 20px; text-align: left;">
    <h5 style="color: white; margin-top: 20px;">Don't Cut Those Bolts!</h5>
    <h1 style="color: black;">Screws on. Stays On.</h1>
    <img src="Group 3513.svg" style="width:10px ; height: 10px;">
    <h6 style="color: black;">Why Cut Off The Bolt If You Don't Have To?</h6>
    <h6 style="color: black;">We Have The Solution!</h6>
    <h6 style="color: black;">Our Caps Fit Over Tall Toilet Bolts</h6>
    <h6 style="color: black;">Save Time, Money, And Frustration</h6>
    <h6 style="color: black;">Our Caps Stay In Place!</h6>
    <h6 style="color: black;">No More Lost Toilet Bolt Caps</h6>
    <h6 style="color: black;">**This Is A Decorative Cap, Not A Structural Product. Follow Manufacturer's Installation Instructions.</h6>
    
</div></div>
