.whitetext{
    color: white;
    }

  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .spacer {
    flex: 1;
  
  }

  .toolbar {
    
    margin-top: 0;
    margin-left: 0;
    right: 0;
    width: 1920px;
    height: 141px;
   box-shadow: 0px 3px 12px #0000009E;
opacity: 1;
background-color: black;

  }

  #notediv{
    background-color: white;
    margin-top: 0%;
    border-radius: 0px 0px 40px 40px;
  margin-left: 671px;
  width: 578px;
  height: 45px;
  opacity: 1;
  text-align: center ;
  }
   #detaildiv{
  margin-top: 20px;
  width: 370px;
  height: 16px;
  display: inline-block;
  opacity: 1;


  }
  #callus{
width: auto;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 13px/16px Bebas Neue;
letter-spacing: 0.18px;
color: #000000;
display: inline;
text-transform: capitalize;
opacity: 1;
  }
  #callus2{
    margin-left: 20px;
    width: auto;
height: 16px;
/* UI Properties */
text-align: right;
font: normal normal normal 13px/16px Bebas Neue;
letter-spacing: 0.18px;
color: #000000;
display: inline;
text-transform: capitalize;
opacity: 1;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

 
  

  a{
    display: inline-block;
      width: auto;
      font: normal normal normal 17px/20px Bebas Neue;
      letter-spacing: 0.24px;
      color: #FFFFFF;
      text-transform: capitalize;
      opacity: 1;
  }
  #nav1{
margin-left: 700px;
  }
  #nav2{
    margin-left:20px;
  }
  
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }
#title{
  
margin-left: 279px;
width: 357px;
height: 40px;
color:white;
opacity: 1;
display: inline-block;
}



